@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Give+You+Glory);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.description {
	padding: 6em 8em;
	overflow: hidden;
}

.description p {
	font-size: 200%;
	text-align: center;
	max-width: 800px;
}

.description p {
	margin: 0 auto 1em;
	font-weight: 300;
	line-height: 1.4;
}
